.delivery-content {
  margin-top: -20px;
  &.form-content-search .has-gridForm .ant-form-item-label > label {
    width: 65px !important;
    font-size: 12px !important;
  }
  &.form-content-search .has-gridForm .ant-col.ant-form-item-control {
    font-size: 12px !important;
  }
  .ant-tabs-nav-list {
    padding-left: 20px;
  }
  .ant-tabs-tab-btn {
    padding-right: 15px;
    padding-left: 15px;
  }
  .leftTd .ant-table-tbody > tr > td {
    text-align: left !important;
  }
  .ant-card-body {
    padding: 0 !important;
  }
  .ant-table-tbody > tr > td .ant-image-mask {
    right: -15px;
    left: 15px;
  }
  #deliveryOrderDetailCol {
    grid-row-gap: 0 !important;
    .form-span {
      padding-left: 0;
      color: #1890ff !important;
    }
    .ant-form-item {
      margin-bottom: 0 !important;
    }
    .ant-form-item-label > label {
      width: 70px !important;
      color: rgba(9, 9, 9, 0.5);
    }
  }
}
